In [40]:
import FinanceDataReader as fdr
import pandas as pd
from tqdm import tqdm
stock_info = pd.read_csv("KOSPI200.csv")
stock_info.loc[len(stock_info)] = [stock_info.columns[0], stock_info.columns[1]]
stock_info.columns = ["code", "name"]
stock_info

       code      name
0    373220  LG에너지솔루션
1       660    SK하이닉스
2    207940  삼성바이오로직스
3      6400     삼성SDI
4     51910      LG화학
..      ...       ...
195   57050     현대홈쇼핑
196  284740     쿠쿠홈시스
197   13890       지누스
198  241590  화승엔터프라이즈
199  005930      삼성전자

[200 rows x 2 columns]

In [41]:
# 삼성전자(005930) 전체 (1996-11-05 ~ 현재)
print(">>stock price data crawling start!")
for i in tqdm(range(len(stock_info))):
    code = stock_info.iloc[i]["code"]
    name = stock_info.iloc[i]["name"]
    try:
        df = fdr.DataReader(str(code))
    except:
        print(">>Data Crawling False...")
    try:
        df.to_csv("Data/price_data/"+str(name)+".csv")
    except:
        print(">>path error...")

>>stock price data crawling start!

100%|██████████| 200/200 [00:10<00:00, 18.68it/s]